# pip install -r requirements.txt

ultralytics>=8.0.206
gradio>=4.1.2
opencv-python
matplotlib
numpy
pandas
pyyaml
pillow>=10.0.0
wget>=3.2
rich>=12.2.0
fpdf>=1.7.2
plotly>=5.7.0
bokeh>=2.4.2
openpyxl>=3.0.10

# if you want to choose gpu for inference, then you should downlaod pytorch from https://pytorch.org/

# run the following example command
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# then test whether your cuda is available
# python
# import torch
# print(torch.cuda.is_availble())